sudo: false
os: linux
language: python
python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"
  - "pypy"
  - "nightly"
matrix:
    include:
        - os: osx
          language: generic
          env:
            - TRAVIS_PYTHON_VERSION=3.5
            - PYTHON=3.5.2
        - language: python
          env:
            - TOX_ENV=coverage
        - language: python
          env:
            - TOX_ENV=linting

allow_failures:
  - python: "nightly"

# Based on https://pythonhosted.org/CodeChat/.travis.yml.html
before_install: |
  if [ "$TRAVIS_OS_NAME" == "osx" ]; then
    brew update
    brew install openssl readline
    brew outdated pyenv || brew upgrade pyenv
    brew install pyenv-virtualenv
    pyenv install $PYTHON
    export PYENV_VERSION=$PYTHON
    export PATH="/Users/travis/.pyenv/shims:${PATH}"
    python --version
  fi

install:
  - source ./ci_support/install_miniconda.sh
  - pip install tox
  - pip freeze
  - if [ -z $TOX_ENV ]; then export TOX_ENV="${TRAVIS_PYTHON_VERSION/[0-9].[0-9]/py${TRAVIS_PYTHON_VERSION/.}}"; fi
script:
  - tox -e $TOX_ENV
before_cache:
  - rm -rf $HOME/.cache/pip/log
  - conda clean --all
after_success:
  - bash <(curl -s https://codecov.io/bash)
cache:
  directories:
  - "$HOME/.cache/pip"
  - "$HOME/miniconda"
deploy:
  # test PyPI
  - provider: pypi
    distributions: "sdist bdist_wheel"
    server: https://testpypi.python.org/pypi
    user: gqmelo
    password:
      secure: "fzehlUMUkEPAnhEihphxNSvq632tpZsw9Qq42nOvXN7fFLgQ6Ryys6xK5LzR6VeDe89tEUsLxtEG4A0ZJa695LsSQRu0vnxDrl/CmmzSSw/BxOrLbtlnd6GpPsT9Flb7JfUqoejGlTMaSgySzHMzHDPcqJLfmlr5ZqYrSZhM0h86xwl6ATZRXvvfK/ZS5wbyhMb9ItyHhfau8Tgx8i2gKa+URNGGmCkFj5dKHz6NHAjg9Qrfc2QddAnDKxb1BXPQqF7wrWvDN750K+jA0RCtX6wblG/6BkCfykF3m5qO/yxhkQWoKpvx5es+d8DaKirIldVq1Ez1M8F01ZshyL/ybxfDzMavQXMdma5Pc00Mn3SMEE5XFfZi3J5pIi4pUby507wSHX2Ii0Lqx1Fum2XHfP9MC3P5xcBIxmG79my4B3Nnn/Oao9e2TKHpwWB7nyi66V7o6HuOan1b8ryU28CxmGno71KeQ2jAFB3+cahorUJRQQ3+MqqU6b/fzM8cyW4riy2/Ag2m3wWYt1bXyyH57ArqYmJY0VzYds6S94c8JdYUIStHsAHojpEMHWp4/FqC2MOhdvMSe5wMyz2qedGCLaQ9zooEWd1uLTAIhbQ+OeIBzijADf0fHUqZXXiPfFCik9goYfsotPY/3Mkf/gbLTp0zpJBGDUaIjkRQen8mlDA="
    on:
      branch: master
      tags: false
      repo: gqmelo/exec-wrappers
      condition: $TOX_ENV = "py27"

  # production PyPI
  - provider: pypi
    distributions: "sdist bdist_wheel"
    user: gqmelo
    password:
      secure: "fzehlUMUkEPAnhEihphxNSvq632tpZsw9Qq42nOvXN7fFLgQ6Ryys6xK5LzR6VeDe89tEUsLxtEG4A0ZJa695LsSQRu0vnxDrl/CmmzSSw/BxOrLbtlnd6GpPsT9Flb7JfUqoejGlTMaSgySzHMzHDPcqJLfmlr5ZqYrSZhM0h86xwl6ATZRXvvfK/ZS5wbyhMb9ItyHhfau8Tgx8i2gKa+URNGGmCkFj5dKHz6NHAjg9Qrfc2QddAnDKxb1BXPQqF7wrWvDN750K+jA0RCtX6wblG/6BkCfykF3m5qO/yxhkQWoKpvx5es+d8DaKirIldVq1Ez1M8F01ZshyL/ybxfDzMavQXMdma5Pc00Mn3SMEE5XFfZi3J5pIi4pUby507wSHX2Ii0Lqx1Fum2XHfP9MC3P5xcBIxmG79my4B3Nnn/Oao9e2TKHpwWB7nyi66V7o6HuOan1b8ryU28CxmGno71KeQ2jAFB3+cahorUJRQQ3+MqqU6b/fzM8cyW4riy2/Ag2m3wWYt1bXyyH57ArqYmJY0VzYds6S94c8JdYUIStHsAHojpEMHWp4/FqC2MOhdvMSe5wMyz2qedGCLaQ9zooEWd1uLTAIhbQ+OeIBzijADf0fHUqZXXiPfFCik9goYfsotPY/3Mkf/gbLTp0zpJBGDUaIjkRQen8mlDA="
    on:
      branch: master
      tags: true
      repo: gqmelo/exec-wrappers
      condition: $TOX_ENV = "py27"
